<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15ff5c6b-7d2c-47f3-80c6-4753ef65fa0a</string>
	<key>CLIENT_SECRET</key>
	<string>kyj80oez7a</string>
</dict>
</plist>
